<%- include("includes/header.ejs") %>
<body>
    <h1>This is Belong to <%= data.name  %></h1>
    <button>Follow</button>
    <button>Massage</button>
    <p>
        <h4>There is the Followers - <%= data.followers %></h4>
        <h4>There is the Following - <%= data.following %></h4>
    </p>
    <hr>
    <% for(let post of data.posts){ %>
        <img src="<%=post.image%>">
        <p>
            Likes - <%= post.likes %>
            Comments - <%= post.comments %>
        </p>
    <% } %>
    
    

<%- include("includes/footer.ejs") %>    
<script src="/script.js"></script>
</body>
</html>



